@charset "utf-8";
/* CSS Document */

/* The Modal (background) */
.log {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 990; /* display above everything else */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; left: 0; right: 0; /* Full width */
    height: 50%; top: 0; bottom: 0; /* Full height */
	overflow:auto; /* Enable scroll if needed */
	
	
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	max-height:100%;
	transform: translate(0,0);
	padding: 20px; /* create padding for inner window - page under modal window will be still visible */
	



