@charset "utf-8";
/* CSS Document */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 990; /* display above everything else */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: auto; left: 0; right: 0; /* Full width */
    height: auto; top: 0; bottom: 0; /* Full height */
	overflow:auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	max-height:100%;
	transform: translate(0,0);
	padding: 20px; /* create padding for inner window - page under modal window will be still visible */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closec {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closec:hover,
.closec:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}


divm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

textarea[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.closeb {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeb:hover,
.closeb:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

datalist[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.closer {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closer:hover,
.closer:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closel {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closel:hover,
.closel:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

