@charset "utf-8";
/* CSS Document */

.opaque{
background-color: rgba(5,4,2,0.8);
width:1200px;
height: 200px;
margin-left:auto;
margin-right:auto;
padding: 15px; }

.opaquea{
	background-color: rgba(5,4,2,0.9);
width:1200px;
height: 10px;
margin-left:auto;
margin-right:auto;
padding: 15px; }


