@charset "utf-8";
/* CSS Document */

.cb-slideshowp,
.cb-slideshowp:after { 
    position: static;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
	
	
	 
}
.cb-slideshowp:after { 
    content: '';
    background: transparent url('') repeat top left ; 
	
}

.cb-slideshowp li span { 
	
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
	background-size: cover;
	background-position: 50% 50%;
    background-repeat: no-repeat;
	opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s; 
	margin-top:0px;
	min-height:650px;
	
}

.cb-slideshowp li:nth-child(1) span { 
    background-image: url('../Images/Packages/dover_museum.jpg');
}
.cb-slideshowp li:nth-child(2) span { 
    background-image: url('../Images/Packages/kearnsney_abbey.jpg');
    animation-delay: 6s; 
}
.cb-slideshowp li:nth-child(3) span { 
    background-image: url('../Images/Packages/wingham_park.jpg');
    animation-delay: 12s; 
}
.cb-slideshowp li:nth-child(4) span { 
    background-image: url('../Images/Packages/dover_museum.jpg'); 
    animation-delay: 18s; 
}
.cb-slideshowp li:nth-child(5) span { 
    background-image: url('../Images/Packages/kearnsney_abbey.jpg');
    animation-delay: 24s; 
}
.cb-slideshowp li:nth-child(6) span { 
    background-image: url('../Images/Packages/wingham_park.jpg');
    animation-delay: 30s; 
}





@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}



