@charset "utf-8";
/* CSS Document */

.slide-anima,
.slide-anima:after { 
    position: static;
    width:600px;
    height: 300px;
    z-index: -1;
	
	
}

/*.slide-anima:after { 
    content: '';
    background: transparent url('') repeat top left ;
	
}*/

.slide-anima li span { 
	
    width:600px;
    height: 300px;
    position: absolute;
    color: transparent;
	background-repeat: no-repeat;
	background-size:600px 300px;
	opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s; 
	min-height:300px;
	
	
	
}

.slide-anima li div { 
    z-index: 1000;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.slide-anima li div h4 { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   
}

.slide-anima li:nth-child(1) span { 
    background-image: url('../Images/Accomodation/island_view.jpg');
	
}
.slide-anima li:nth-child(2) span { 
    background-image: url('../Images/Accomodation/Ocean_View.jpg');
    animation-delay: 6s; 
	
}
.slide-anima li:nth-child(3) span { 
    background-image: url('../Images/Accomodation/Pool_View_Double.jpg');
    animation-delay: 12s; 
	
}
.slide-anima li:nth-child(4) span { 
    background-image: url('../Images/Accomodation/State_room.jpg');
    animation-delay: 18s;
	
}
.slide-anima li:nth-child(5) span { 
    background-image: url('../Images/Accomodation/island_view.jpg');
    animation-delay: 24s; 
	
}
.slide-anima li:nth-child(6) span { 
    background-image: url('../Images/Accomodation/Pool_View_Double.jpg');
    animation-delay: 30s; 
	
}

.slide-anima li:nth-child(2) div { 
    animation-delay: 6s; 
}
.slide-anima li:nth-child(3) div { 
    animation-delay: 12s; 
}
.slide-anima li:nth-child(4) div { 
    animation-delay: 18s; 
}
.slide-anima li:nth-child(5) div { 
    animation-delay: 24s; 
}
.slide-anima li:nth-child(6) div { 
    animation-delay: 30s; 
}

/*-----------*/

.slide-animd,
.slide-animd:after { 
    position: static;
    height: 300px;
    z-index: -1;
	width:100%;
}

.slide-animd:after { 
    content: '';
    background: transparent url('') repeat top left ;
	
}

.slide-animd li span { 
	
    width:600px;
    height: 300px;
    position: absolute;
    color: transparent;
	background-repeat: no-repeat;
	background-size:600px 300px;
	opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s; 
	min-height:300px;
	
	
}

.slide-animd li div { 
    z-index: 1000;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.slide-animd li div h4 { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
    
}

.slide-animd li:nth-child(1) span { 
    background-image: url('../Images/Dining/accra_deck.jpg');
	 
}
.slide-animd li:nth-child(2) span { 
    background-image: url('../Images/Dining/coco_patch.jpg');
    animation-delay: 6s; 
	
}
.slide-animd li:nth-child(3) span { 
    background-image: url('../Images/Dining/fig_tree.jpg');
    animation-delay: 12s; 
	
}
.slide-animd li:nth-child(4) span { 
    background-image: url('../Images/Dining/lagoon_bar.jpg');
    animation-delay: 18s; 
	
}
.slide-animd li:nth-child(5) span { 
    background-image: url('../Images/Dining/pacifica_kitchen.jpg');
    animation-delay: 24s; 
	
}
.slide-animd li:nth-child(6) span { 
    background-image: url('../Images/Dining/sand_bar.jpg');
    animation-delay: 30s; 
	
}

.slide-animd li:nth-child(2) div { 
    animation-delay: 6s; 
}
.slide-animd li:nth-child(3) div { 
    animation-delay: 12s; 
}
.slide-animd li:nth-child(4) div { 
    animation-delay: 18s; 
}
.slide-animd li:nth-child(5) div { 
    animation-delay: 24s; 
}
.slide-animd li:nth-child(6) div { 
    animation-delay: 30s; 
}

/*-----------*/

.slide-animp,
.slide-animp:after { 
    position: static;
    height: 300px;
    z-index: -1;
	width:100%;
	
}

.slide-animp:after { 
    content: '';
    background: transparent url('') repeat top left ;
	
}

.slide-animp li span { 
	
    
    height: 300px;
	width:600px;
    position: absolute;
    color: transparent;
	background-repeat: no-repeat;
	background-size:600px 300px;
	opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s; 
	min-height:300px;
	
	
}

.slide-animp li div { 
    z-index: 1000;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.slide-animp li div h4 { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
    
}

.slide-animp li:nth-child(1) span { 
    background-image: url('../Images/Packages/dover_museum.jpg');
	
}
.slide-animp li:nth-child(2) span { 
    background-image: url('../Images/Packages/kearnsney_abbey.jpg');
    animation-delay: 6s; 
	
}
.slide-animp li:nth-child(3) span { 
    background-image: url('../Images/Packages/wingham_park.jpg');
    animation-delay: 12s; 
	
}
.slide-animp li:nth-child(4) span { 
    background-image: url('../Images/Packages/dover_museum.jpg');
    animation-delay: 18s; 
	
}
.slide-animp li:nth-child(5) span { 
    background-image: url('../Images/Packages/kearnsney_abbey.jpg');
    animation-delay: 24s; 
	
}
.slide-animp li:nth-child(6) span { 
    background-image: url('../Images/Packages/wingham_park.jpg');
    animation-delay: 30s; 
	
}

.slide-animp li:nth-child(2) div { 
    animation-delay: 6s; 
}
.slide-animp li:nth-child(3) div { 
    animation-delay: 12s; 
}
.slide-animp li:nth-child(4) div { 
    animation-delay: 18s; 
}
.slide-animp li:nth-child(5) div { 
    animation-delay: 24s; 
}
.slide-animp li:nth-child(6) div { 
    animation-delay: 30s; 
}





@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

