@charset "utf-8";
/* CSS Document */

.menu,
.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
	width:100%;
	
}
.menu li {
	width:auto;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
	float: left;
	width: auto;
	white-space: nowrap;
}
.menu li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
/* Change the link color to #111 (black) on hover */

.menu lil {
	width:100%;
	
}
.menu lil a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
	/*float: left;*/
	width: auto;
	white-space: nowrap;
	
}
.menu lil a:hover:not(.active) {
    background-color: #111;
}

