@charset "utf-8";
/* CSS Document */

.accom,
.accom:after{
	position:static;
    width:100%;
    height:300px;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.accom li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.accom li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}

.accom li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 0;
    line-height: 200px; 
}

.accom li:nth-child(1) span { 
    
}
.accom li:nth-child(2) span { 
    
    animation-delay: 6s; 
}
.accom li:nth-child(3) span { 
    
    animation-delay: 12s; 
}
.accom li:nth-child(4) span { 
    
    animation-delay: 18s; 
}



.accom li:nth-child(2) div { 
    animation-delay: 6s; 
}
.accom li:nth-child(3) div { 
    animation-delay: 12s; 
}
.accom li:nth-child(4) div { 
    animation-delay: 18s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
